@media (min-width: 600px) {
    .weather-content picture {
        display: none; 
    }
    .weather-content h2 strong::after {
        content: " ⛅"; 
    }

    .hero-image {
        height: auto;
    }

    .hero-container h1 {
        position: absolute;
        transform: none;
        text-align: center;
        margin: 20px 0;
    }

    .data, .weather {
        position: absolute;
        margin: 20px 0;
        bottom: none; 
        right: none;
    }
}