@media (min-width: 600px) {
    .weather-content picture {
        display: none; 
    }
    .weather-content h2 strong::after {
        content: " ⛅"; 
    }

}

@media (max-width: 600px) {

    .hero-image {
        height: auto;
    }

    .hero-container h1 {
        position: absolute;
        transform: none;
        text-align: center;
        margin: 20px 0;
    }

    .data, .weather {
        
        position: relative;
        margin: 20px 0;
    }
    .main-content {
        display: flex;
        flex-direction: column;
        align-items: center; 
    }
}